.spot-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/spot-hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spots-about {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2em;
}

.spots-about :nth-child(3) {
    margin-top: 1em;
    max-width: 45ch;
}

.spot-cards {
    display: flex;
    flex-direction: column;
    align-items: center
}

.spot-cards h2 {
    margin: 1em 0;
}

.restaurant-card {
    display: grid;
    grid-template-columns: repeat(2, 390px);
    grid-template-rows: 80px, repeat(2, 300px);
    gap: 8px;
    margin: 2em 0;
}

.restaurant-card p {
    padding-top: 1em;
}

.restaurant-header {
    grid-column: span 2 / span 2;
    display: flex;
    gap: 2em;
    background-color: var(--cards-background-color);
    border-radius: 8px;
    justify-content: center;
}


.restaurant-image-container {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 0.3em;
}

.restaurant-image-container img {
    border-radius: 8px;
}

.second {
    grid-column-start: 1;
    grid-row-start: 2;
}

.third {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}