* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: var(--main-font);
  color: var(--main-font-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}